body {
  background-color: #ffffff;
}
/* .container {
  padding: 0;
} */

.headline-h1 {
  margin-top: 42px;
}
.subtitle {
  margin-top: 15px;
  color: #424344;
}

section {
  margin: 30px 0;
}

.collapsed {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.5s, opacity 0.5s;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.product-header {
  padding: 30px 0;
}
.product-header .breadcrumb {
  margin-top: 0;
}
.product-header .breadcrumb-item,
.product-header .breadcrumb-item::before {
  margin-right: 19px;
}
.product-header .breadcrumb-item:first-child:before {
  margin-right: 0;
}



.hidden-container {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.floating {
  position: fixed;
  box-shadow: 0 9px 26px 4px #e6e8ea;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
} 

.hidden {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
  visibility: hidden;
}

.hiiden-titile {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.hidden-subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #424344;
}

.hidden-headline-h1 {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #424344;
}

.hidden-details {
  display: flex;
  align-items: center;
}

.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
  visibility: visible;
}

.stiky-btns {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.stiky-btns button {
  width: 180px;
}

.stiky-btns .btn-outline {
  background: #F0E5C4;
  color: #AA8515;
  border:none;
}

.stiky-btns .btn-outline :hover {
  background: #F9DC75;;
}

/* mobile */

.mobile-slides-container {
  position: relative;
  height: 285px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 7px;
}
.mobile-slides {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.mobile-slide {
  min-width: 100%;
  transition: opacity 0.5s;
}
.mobile-slides-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mobile-slider-dots {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 7px;
}
.mobile-slider-dots .dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s ease-in;
}
.mobile-slider-container {
  margin-bottom: 28px;
}

/* end of mobile */

.product-item{
  max-width: 100%;
  min-height: 515px;
  padding: 14px 0;
}

.product-blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-imgs {
  display: flex;
  max-width: 38%;
  justify-content: space-between;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  max-height: 459px;
}

.slides {
  display: flex;
  flex-direction: column;
  gap: 21px;
  transition: transform 0.5s ease-in-out;
}
 
.slide-item { 
  width: 71px; 
  height: 59px; 
  border-radius: 4px; 
  border: 2px solid transparent; 
  box-sizing: border-box; 
  opacity: 0.5;
} 
 
.slide-item.active { 
  border-color: #ffc000;
  opacity: 1;
} 
 
.slide-item__image { 
  height: 100%; 
  width: 100%; 
  background-repeat: no-repeat; 
  background-position: center; 
} 
 
.slider-container button { 
  background-color: #ffffff;
  border: none; 
  cursor: pointer; 
  border-radius: 100%; 
  height: 27px; 
  width: 27px; 
  z-index: 1; 
} 
.slider-container button#previousBtn { 
  margin-bottom: -12px; 
} 
.slider-container button#nextBtn { 
  margin-top: -12px; 
}

.slider-container {
  background-color: #F0ECEC;
}

/* .product-blocks > div {
  max-width: 35%;
} */

.product-img {
  background-color: #fbfbfb;
  /* height: 100%; */
  display: flex;
  width: 81%;
}

.product-img img {
  margin: 0 auto;
  box-sizing: border-box;
  align-self: center;
}

/* About product */

.product-info {
  padding: 0 1%;
  max-width: 28%;
}

.product-info-header {
  display: flex;
  flex-direction: row;
  gap: 21px;
}

.product-info-header > .rating {
  display: none;
}

.product-info-title {
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  color: #424344;
}

.about-product{
  display: flex;
  justify-content: space-between;
  margin: 21px 0 20px;
}

/* .main-info {
  padding: 0 20px;
} */

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: #716F6F;
  font-weight: 600;
  margin: 0 10px 0 0;
}

.item-data {
  background-color: #F6E7F5;
  color: #575859;
  font-size: 9px;
  white-space: nowrap;
  border-radius: 4px;
  font-weight: 400;
  padding: 4px 8px;
}

.all-characteristics {
  color: #176ACF;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 44px;
}

.all-characteristics:hover {
  text-decoration: underline; 
}

.btn-row {
  display: flex;
  gap: 15px;
}

.product-btn{
  background-color: #f0e5c4;
  border-radius: 15px;
  color: #aa8515;
  font-size: 16px;
  width: 122px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  font-weight: bold;
  gap: 6px;
  cursor: pointer;
  padding: auto;
}

.product-btn:hover {
  background-color: #ffffff;
  border: 2px solid #ffc000;
}

.deal-block {
  max-width: 34%;
}

.price-block {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* width: 453px; */
  padding: 43px 30px 33px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 9px 26px 4px #e6e8ea;
}

.cont-price {
  display: flex;
  margin-bottom: 23px;
}

.new-price {
  font-size: 36px;
  font-weight: 900;
  color: #424344;
  line-height: 38px;
}

.new-price span {
  font-size: 18px; 
  font-weight: 400;
  line-height: 24px;
}

.old-price {
  color: #d27575;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: line-through;
  margin-left: 16px;
  text-decoration-thickness: 1%;
}

.rating {
  display: flex;
  gap: 3px;
  align-self: center;
  margin-left: auto;
  align-items: center;
}

.payment-options {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  align-items: center;
}

.payment-option {
  display: inline-block;
  padding: 5px 12px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 5px;
  white-space: nowrap
}

.green {
  background-color: #CFE8CA;
  color: #166108;
}

.beige {
  background-color: #F0E5C4;
  color: #424344;
}

.payment-desc {
  font-size: 11px;
  color: #166108;
  text-decoration: underline; 
}

.payment-guarant {
  font-size: 11px;
  color: #424344;
}

.buttons-for-deal {
  display: flex;
  gap: 14px;
  margin-bottom: 10px;
}

.btn-outline {
  background-color: white;
  border: 2px solid #fcc203 ;
  color: #424344;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
}

.btn-outline:hover {
  background-color: #ffe066;
}

.btn-filled {
  background-color: #f0e5c4;
  border: none;
  color: #aa8515;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
}

.btn-filled:hover {
  background-color: #D2C3A1;
}

.button-buy {
  background-color: #FFC000;
  color: #333333;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  font-weight: 600;
  width: 100%;
  padding: 12px;
  cursor: pointer;
}

.button-buy:hover {
  background-color: #EAA208;
}

/* Delivery */

.delivery {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  /* width: 453px; */
  gap: 5%;
  background-color: white;
  padding: 5%;
  border-radius: 4px;
  margin-top: 20px;
  box-shadow: 0 9px 26px 4px #e6e8ea;
}

.delivery-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.delivery-info p,
div {
  color: #424344;
  }

.delivery-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.delivery-row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 5px;
  align-items: center;
}

.delivery-region {
  font-weight: 700;
}

.delivery-row .chip {
  width: 86px;
  text-align: center;
}

.free {
  background-color: #CFE8CA;
  color: #424344;
  font-weight: 600;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: auto;
}

.delivery-price {
  background-color: #F0E5C4;
  padding: 2px 6px;
  border-radius: 5px;
  font-weight: 600;
  margin-left: auto;
}

/* Section two */

.arrow-icon {
  display: none;
}

.columns {
  display: flex;
}

.tabs {
  width: 67%;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* Navigation */

.ul-items {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* width: 60%; */
  margin-bottom: 30px;
  gap: 8%
}

li {
  color: #C0C0C1;
  font-size: 26px;
  font-weight: 800;
  list-style: none;
  cursor: pointer;
}

li:hover {
  text-decoration: solid;
  text-underline-offset: 5px;
  color: #424344;
  text-decoration-color: #ffc000;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  /* pointer-events: none; */
}

.ul-items .li-item.active {
  color: #424344;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #FFC000;
  text-underline-offset: 5px;
  pointer-events: none;
}

.parts-name {
  font-size: 16px;
  font-weight: 700;
  color: #626263;
  margin-bottom: 21px;
  margin-top: 41px;
  padding: 23px 0 21px;
}

/* Computer parts */

.computer-part {
  /* height: 131px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 9px 26px 4px #E6E8EA;
  border-radius: 4px;
  padding: 29px 31px;
  margin-bottom: 5px;
}

.computer-part:last-child {
  margin-bottom: 0;
}

.part-info {
  display: flex;
  align-items: center;
  gap: 21px;
}

.assembly-part-img {
  width: 105px;
  background-color: #FBFBFB;
  border-radius: 4px;
}

.assembly-part-img img {
  margin: 0 auto;
  height: auto;
  width: 100%;
  display: block;
}

.part-text {
  display: flex;
  flex-direction: column;
}

.part-text p {
  font-size: 16px;
  color: #424344;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 9px;
}

.part-text div {
  color: #626263;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 5px;
}

.part-text span {
  font-size: 12px;
  color: #626263;
  font-weight: 400;
  line-height: 16px;
}

.part-chars {
  display: flex;
  flex-direction: column;
  width: 219px;
  gap: 5px;
}

.part-chars div {
  display: flex;
  /* justify-content: space-between; */
  gap: 5px;
}

.styled-char {
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
  color:#5356FF;
  background-color: #EFF2FF;
  border-radius: 3px;
  width: 104px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Reviews */

.reviews-choice-btns,
.questions-choice-btns {
  margin-bottom: 30px ;
  display: flex;
  gap: 37px;
}

.choice-btn {
  background-color: #F5F5F5;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #424344;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 9px 14px;
}

.advice {
  padding: 8px 16px;
  background: #F0E5C4;
  color: #AA8515;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}

.reviews-item,
.question-item {
  padding: 21px 16px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 9px 26px 4px #E6E8EA;
  margin-bottom: 10px;
}

.top-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.name-author {
  display: flex;
  gap: 19px;
  align-items: center;
}

.name-review {
  font-size: 20px;
}

.star-rating .star {
  cursor: auto;
}

.star-rating .star:hover {
  background: url(../assets/images/icons/border.svg);
  background-size: contain;
  background-position: center;
}

.star-rating .star.choose,
.star-rating .star.choose:hover {
  background: url(../assets/images/icons/solid.svg);
  background-size: contain;
  background-position: center;
  cursor: auto;
}

.tags-categories {
  display: flex;
  gap: 14px;
}

.tags-categories .category-option:first-child,
.tags-categories .category-option:first-child:hover {
  background-color: #F6E7F5;
  cursor: auto;
  color: #424344;
  font-size: 13px;
  font-weight: 600;
}

.tags-categories .category-option:hover {
  cursor: auto;
  background-color: #EFF2FF;
}

.like-review {
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 20px;
  font-weight: 700;
  color: #8C8C8C;
  margin: 16px 0 0 auto;
  width: fit-content;
}

.click-like {
  width: 20px;
  height: 20px;
  background: url(../assets/images/icons/static.svg);
  background-size: contain;
  background-position: center;
  transition: 0.3s;
}

.click-like:hover {
  background: url(../assets/images/icons/hover.svg);
  background-size: contain;
  background-position: center;
}

.click-like.active {
  background: url(../assets/images/icons/click.svg);
  background-size: contain;
  background-position: center;
}

.show-more-btn {
  background-color: #E2E7FF;
  color: #424344;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  width: 294px;
  height: 36px;
  border: none;
  display: block;
  margin: 20px auto 0;
  cursor: pointer;
}

.show-more-btn :hover{
  background-color: #4c4f5c;  
}

.noreviews{
  font-size: 40px;
  font-weight: 800;
  color: #D9D9DA;
  margin: 0 auto;
  padding-top: 100px;
}
/* Questions */

.answer {
  border-radius: 20px;
  padding: 21px 16px;
  background-color: #EFF2FF;
  margin-top: 10px;
}



/* side block with rating */

/* button.submit-button :disabled,
button.submit-button[disabled]{
 opacity: 0.5;
} */

.aside-block {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 453px;
}

.reviews-statistic {
  padding: 30px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 9px 26px 4px #e6e8ea;
  width: 100%;
}

.reviews-statistic.consultation {
  padding: 52px 30px;
}
.reviews-statistic.more-source-info {
  padding: 58px 43px;
}

.reviews-statistic-info {
  display: flex;
  gap: 17px;
  align-items: flex-end;
}

.reviews-statistic-rating {
  font-size: 48px;
  line-height: 54px;
  font-weight: bold;
  color: #424344;
}

.reviews-statistic-rating-small {
  color: #424344;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.reviews-statistic-stars {
  display: flex;
}

.reviews-statistic-stars .star {
  width: 35px;
  height: 35px;
}

.reviews-cont .star.choose,
.reviews-cont .star.choose:hover {
  background: url(../assets/images/icons/solid.svg);
  background-size: contain;
  background-position: center;
  cursor: auto;
}

.reviews-statistic-count {
  font-size: 14px;
  color: #8C8C8C;
}

.ratings-list {
  margin-top: 30px;
}

.rating-row {
  display: grid;
  grid-template-columns: 70px 1fr 50px;
  column-gap: 11px;
  margin-bottom: 15px;
  align-items: center;
}

.rating-text {
  color: #424344;
  font-size: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.rating-text-number {
  font-weight: bold;
  font-size: 18px;
}

.rating-bar-container {
  position: relative;
  width: 100%;
  height: 24px;
  background-color: #f2e8d5;
  border-radius: 20px;
  overflow: hidden;
}

.rating-bar {
  height: 100%;
  border-radius: 20px;
  background-color: #ffc000;
}

.rating-value {
  text-align: left;
}

.rating-value {
  font-size: 18px;
  color: #8C8C8C;
}

.reviews-statistic .primary-btn {
  width: 100%;
  margin-top: 23px;
}

.welcome {
  /* display: flex;
  justify-content: center;
  padding: 16px; */
  font-size: 20px;
  font-weight: 700;
  line-height: 51px;
  text-align: center;
  color: #818282;
  margin-bottom: 15px;
}

.consult-btn {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 16px;
  border-radius: 5px;
  color: #AA8515;
  border: 2px solid #F0E5C4;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  background-color: #F0E5C4;
}

.consult-btn:hover{
  background-color: #F9DC75;
}

.source {
  font-size: 14px;
  font-weight: 400;
  color: #424344;
}

.source span {
  color: #176ACF;
  font-size: 13px;
  font-weight: 600;
  margin-top: 14px;
  text-decoration: underline;
}

.contact-for-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wider-modal {
  max-width: 1000px;
}

.contacts {
  width: 34%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.phone-nums {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.robot-phone {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 17px;
  font-weight: 300;
  /* flex: 1; */
}

.robot-phone p {
  display: contents;
}

.robot-phone p span {
  font-weight: 500;
}

.contacts-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 200px;
}

.main-content-form {
  max-width: 57%;
}

.mobile-buttons-interactive {
  display: none;
}

.popular-cards-config {
  padding: 40px 0;
  margin-bottom: 0;
  background-color: #fff;
}
.popular-list {
  margin-bottom: 0;
}
